<script type="text/javascript">
  $(document).ready(function(){
    var user = <%= raw @user.to_json %>
    gmap_show(user);
  });
</script>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<p style="color: red;">Чому воно не показує місцезнаходження якщо приходять координати?!!</p>

<h2><%= @user.name %></h2>
<% if logged_in? %>
  <p>Latitude: <%= @user.lat %></p>
  <p>Longitude: <%= @user.lng %></p>
  <p>Email: <%= @user.email %></p>

  <div id="map" style="width: 550px; height: 350px;"></div>
  <hr>
  <%= link_to "Edit User", edit_user_path(@user.id), class: "btn btn-default" %>
  <%= link_to "Delete User", user_path(@user.id), method: :delete, class: "btn btn-warning", data: { confirm: "Are you sure?" } %>
<% end %>
