<h3>Comments:</h3>
<div>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <p>
          <%= comment.body %>
        </p>
        <p style="text-align: right;">
          <%= link_to "Delete Comment", [comment.post, comment],
              method: :delete,
              data: {confirm: "Are you sure?"} %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<h3>Add a comment:</h3>

<% if flash[:error] %>
  <div>
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <div>
    <%= f.text_area :body, class: "form-control", rows: "3" %>
    <%= f.submit "Create Comment", class: "btn btn-default" %>
  </div>
<% end %>