<%= form_for @post do |f| %>
  <div class="form-group">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>Sorry, your post is not valid. Please, try again.</h2>
      </div>
    <% end %>
   
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "form-control", rows: "15" %>
    </div>
   
  <!--   <p>
      <%= f.submit  %>
    </p> -->
    
    <p>
      <%= if  current_page?(new_post_path)
        f.submit "Create new post", class: "btn btn-default"
      else 
        f.submit "Update existing post", class: "btn btn-default"
      end %>
    </p>
  </div> 
<% end %>