<div class="row"> 
  <h3 class="text-center post-title" >
    <%= @post.title %>
  </h3>
   
  <artcile class="post-body">
    <p>
      <%= @post.body %>
    </p>
    <div class="btn-group">
      <%= button_to "Edit Post", edit_post_path(@post.id), method: :get, class: "btn btn-default" %>
      <br>
      <%= button_to "Delete Post", post_path(@post.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <%= button_to "Comment" %>
    </div>
    <div class="col-md-3">
    </div>
      <%= form_for @comment do |f| %>
        <div class="col-md-6 form-group">
          <%= f.label :body %><br>
          <%= f.text_area :body, class: "form-control", rows: "11" %>
          <%= f.submit  %>
        </div>
      <% end %>
    <div class="col-md-3">
    </div>
  </artcile>
</div>