<div class="row"> 

  <h3 class="text-center" >
    <%= @post.title %>
  </h3>
  
  <p>
    <%= image_tag @post.image.url if @post.image? %>
  </p>
  
  <artcile class="col-xs-offset-2 col-xs-8 post-body">
    <div>
      <%= simple_format(@post.body) %>
    </div>

    <div class="post-controls">
      <%= button_to "Edit Post", edit_post_path(@post.id), method: :get,
          class: "btn btn-default" %>
      <%= button_to "Delete Post", post_path(@post.id), method: :delete,
          class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>

    <%= render "comments" %>
  </artcile>
</div>