<div class="row"> 

  <h3 class="text-center post-title" >
    <%= @post.title %>
  </h3>
   
  <artcile class="post-body">
    <p>
      <%= @post.body %>
    </p>

    <div class="btn-group">
      <%= button_to "Edit Post", edit_post_path(@post.id), method: :get, class: "btn btn-default" %>
      <%= button_to "Delete Post", post_path(@post.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <%= button_to "Comment Post", class: "btn btn-default" %>
    </div>
      <h2>Add a comment:</h2>
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.label :body %><br>
          <%= f.text_area :body, class: "form-control", rows: "7" %>
          <%= f.submit "Create Comment", class: "btn btn-default" %>
        </div>
      <% end %>
  </artcile>
</div>