<div class="row"> 

  <h1 class="text-center" >
    <%= @post.title %>
  </h1>
  
  <p>
    <%= image_tag @post.image.url if @post.image? %>
  </p>
  
  <artcile class="col-xs-offset-2 col-xs-8 post-body">
    <div>
      <%= simple_format(@post.body) %>
    </div>

   <% if logged_in?%>
      <div>
        <%= link_to "Edit Post", edit_post_path(@post.id), method: :get,
            class: "btn btn-default" %>
        <%= link_to "Delete Post", post_path(@post.id), method: :delete,
            class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>

    <%= render "comments" %>
  </artcile>
</div>