<h3>This page shows post with article and body and 2 buttons</h3>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<button>
<%= link_to "Edit Post", edit_post_path(@post) %>
</button>
<button>
<%= link_to "Delete Post", post_path(@post),
    method: :delete %>
</button>

<p><%= link_to "back to index", "/"%></p>